//LINES, ICON SYMBOLS
$brand-dark-gray: #adadad;

//BACKGROUND COLOUR
$brand-med-gray: #efefef;

$brand-med-dark-gray: #dfdfdf;

//SHAPE ELEMENTS
$brand-light-gray: #f8f8f8;

$brand-off-white: #f8f8f8;

//TEXT, NAV
$brand-black: #2d2d2d;

//HYPERLINKS, BUTTONS
$brand-blue: #2273dd;
$brand-dark-blue: #206acb;

//ACCENTS
$brand-yellow: #edd600;

//White
$brand-white: #ffffff;

// Reject Vote
$brand-red: #c10050;

// Editor
$brand-yellow-green: #dfff00;

// Accept Vote
$brand-green: #008064;

$brand-dark-font: #6c6c6c;

$brand-green-bg: #f5fffd;
$brand-red-bg: #ffefef;

$brand_cu_blue: #0f4f82;
// monochromatic palette
$brand_cu_flatter_blue: #3F6F97;

$brand_cu_blue_darker: #09304F;

// triadic
$brand-spicy-mustard: #7D8203;